@font-face {
  font-family: 'PlayfairDisplay VariableFont';
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

:root {
  --header_background_color: rgb(31, 43, 106);
  --paragraph-color: rgb(12, 12, 12);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'PlayfairDisplay VariableFont', serif;
  letter-spacing: 0.2rem;
}

p {
  font-family: 'Roboto Regular';
  color: var(--paragraph-color);
}

h2 {
  font-size: 4rem;
}

svg {
  width: 4rem;
}

.header-info {
  margin: 2rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-wrap {
  position: absolute;
  filter: drop-shadow(-1px 3px 3px rgba(50, 50, 0, 0.5));
  z-index: -1;
}

.header-background {
  position: fixed;
  width: 100vw;
  height: 75vh;
  clip-path: polygon(0 0, 100% 0%, 100% 40%, 0% 80%);
  background: var(--header_background_color);
}

.header-about {
  padding: 2rem;
  position: relative;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.header-about p {
  font-size: 2rem;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.header-img {
  margin-top: 2rem;
  height: 50rem;
  width: 24rem;
  position: relative;
  color: #ffffff;
}

h1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 2px 2px 4px #000000;
  font-size: 4rem;
}

.header-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
